.searchBarContainer {
    width: 100%;
    margin: 1em 0;
}
.searchBar {
    width: 89%;
    border: 2px solid #ccc;
    background-color: white;
    transition: width 0.4s ease-in-out;
    box-sizing: border-box;
    font-size: 16px;
    padding: 5px;
    padding-left: 32px !important;
    background-image: url("../../assets/images/search-icon.png");
    background-position: 10px 10px;
    background-size: 16px;
    background-repeat: no-repeat;
}
.submitBar {
    width: 10%;
    vertical-align: inherit;
}
